<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificaciones</title>
    <link rel="stylesheet" href="/views/css/stylesGestorProfesor.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <a href="/index.html">
        <img src="/views/images/logo.png" alt="Logo CESDE" class="logo" />
    </a>
    
    <h2>BIENVENIDO PROFESOR</h2>
    <div class="header-right">
      <a href="/views/pages/chatbot.html" class="text-white text-decoration-none">
        <i class="bi bi-robot"></i>
      </a>
      <a href="/views/pages/notificaciones.html" class="notification-icon">
        <i class="bi bi-bell"></i>
        <span class="notification-count" id="notiCount">3</span>
      </a>
      <i class="bi bi-gear"></i>
      <div class="perfil-menu">
        <i class="bi bi-person-circle"></i>
        <div class="dropdown">
          <a href="#">Ver perfil</a>
          <a href="#">Cambiar contraseña</a>
          <a href="/index.html" class="cerrar">Cerrar sesión</a>
        </div>
      </div>
    </div>
  </header>

    <h2 class="titulo">Historial de Notificaciones</h2>

    <div class="notificaciones">
        Clase hoy: Lógica de programación. <br> Hora: 10:30 am - Aula: 503
    </div>

    <div class="notificaciones">
        Nueva clase asignada. <br> Programación web - Aula: 501
    </div>

    <div class="notificaciones">
        Modificación de horario. <br> Clase Metodología ahora a las 02:00 pm.
    </div>
</body>

</html>