<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Soporte</title>
  <link rel="stylesheet" href="/views/css/stylesSoporte.css" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet"/>
  <link rel="icon" href="/views/images/favicon.png" type="image/png">
</head>
<body>
  <header class="header">
    <div class="header-container">
      <a href="/index.html" class="logo-container">
        <img src="/views/images/logo.png" alt="Logo CESDE" class="logo" />
      </a>
      <nav>
        <ul class="menu">
          <li><a href="/views/pages/inicioSesion.html">Iniciar Sesión</a></li>
          <li><a href="/views/pages/soporte.html">Soporte</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="main">
    <div class="form-container">
      <h2>Accede al Soporte</h2>
      <form>
        <label for="cedula">Cédula</label>
        <div class="input-group">
          <input type="text" id="cedula" placeholder="Ingresa tu cédula" />
        </div>

        <label for="correo">Correo electrónico</label>
        <div class="input-group">
          <input type="email" id="correo" placeholder="Ingresa tu correo" />
        </div>

        <button type="submit">Ingresar al Chatbot</button>
      </form>
    </div>
  </main>
</body>
</html>
